# Folder cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Folder Virtual Environment
venv/
env/
.venv/
.env/

# File spesifik sistem operasi
.DS_Store
Thumbs.db

# File konfigurasi IDE/Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# File sensitif (JANGAN PERNAH UNGGAH INI)
.env
*.env
secrets.txt
